<% @event.each do |event|  %>
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="well well-lg">
          <h3>Title: <%= event.title %></h3>
          <h4>Location: <%= event.location %></h4>
          <h4>Date: <%= event.date %></h4>
          <h4>Description: <%= event.description %></h4>
          <%= link_to "Attend this event", event_attendees_attend_path(id: event.id),  class: "btn btn-xs btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
